@import url(https://fonts.googleapis.com/css?family=Roboto:500);

h1:first-child {
  /*padding: 25px;*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

h2:first-child {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(252, 249, 240);
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

.hero-section {
  background-image: url('/src/assets/cute-little-dog-impersonating-business-person.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  /* Add any additional styles you want */
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

#event-list {
  margin-top: 25px;
  padding-bottom: 75px;
  /*border-style: inset;*/
  background-color: rgb(252, 249, 240);
}

.MuiGrid2-root {
  max-height: 300px;
  max-width: 300px;
}

.mui-grid {
  display: flex;
  justify-content: center;
}

.suggestions {
  width: 250px;
  /*position: absolute;*/
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions>li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions>li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions>li:hover {
  background-color: #bcdcdb;
}

/*.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}*/

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border-top: 10px;
  margin-top: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 12px;
}

/*.MuiGrid2-root {
  max-width: 500px;
  max-height: 500px;
}*/

.expanded {
  max-height: 400px;
  max-width: 400px;
  /* Set your desired maximum height */
  overflow: hidden;
  transition: max-height 0.3s ease;
  /* Add a smooth transition */

}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

@media screen and (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }

}